%body
  #page
    %header#header.site-header
      %nav#navbar.site-navbar.navbar.navbar-static-top{:role => "navigation"}
        .container

          -#TODO: Move Header to Partial
          .navbar-header
            %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %i.fa.fa-bars
            %h1.navbar-brand
              = image_tag "beta.png", class: "beta"
              %a{:style => "font-size: 35px", :href => "#"}
                Fist to Five
          #navbar-collapse-1.collapse.navbar-collapse
            %ul#navigation.nav.navbar-nav.navbar-right
              %li.active
                %a.current{:href => "#header"} Home
              - if current_user
                %li
                  = link_to "Sign Out", session_path(current_user), class: "external", method: :delete
                %li
                  = link_to "Dashboard", user_path(current_user), class: "external"
                %li
                  = link_to "New Subject", new_subject_path, class: "external"
                %li
                  %h4.ml20
                    Hello
                    = current_user.first_name.capitalize
              -else
                %li
                  %a.external{href: "/signup"} Sign Up
                %li
                  %a.external{href: "/signin"} Sign In
                %li
                  %h4.ml20
                    Hello Guest
    %main#main.site-main
      %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active{:style => "background: url(assets/background/dusty_wide_dark_2.jpg);"}
            .container
              .main_content.pt10.pb40.col-sm-8.col-sm-offset-2
                %h1.section-title
                  %span Welcome to Fist to Five
                %h2
                  How well do you understand:

                %h3.green #{@subject.name}?

                - if current_user && current_user.already_answered?(@subject)
                  %h3
                    You said your understanding was
                    -#TODO Clean this image tag up with a decorator
                    = image_tag "fingers/fingers1-#{current_user.understanding_of(@subject)}.jpg", class: "fist"
                - else
                  .fist-container
                    - 0.upto(5).each do |index|
                      = link_to "/subjects/#{@subject.id}/understandings?id=#{index}", method: :post do
                        = image_tag "fingers/fingers1-#{index}.jpg", class: "fist"

      %section.section.section-center.section-cta.pt10.pb20
        .container
          .div{style:"height:20px"}

    %footer#footer.site-footer
      .container
        #sidebar-footer-1
          .row
            %aside.widget.col-md-4.col-md-push-4
              %h5.widget-title Contact us
              %p
                Request a feature, submit a pull request or just say hi on the
                %a{:href => "https://github.com/dladowitz/fist-to-five/issues"} Github Repo
        .copyright
          %p
            © 2015 Fist to Five
            %br/
  .scroll-to-top{"data-offset-top" => "200", "data-spy" => "affix"}
    %a.smooth-scroll{:href => "#page"}
      %i.fa.fa-arrow-up
  / TODO Move to JS manifest
  %script{:src => "https://code.jquery.com/jquery-1.10.2.min.js", :type => "text/javascript"}
  %script{:src => "assets/landing_page/bootstrap-3.1.1.min.js", :type => "text/javascript"}
  %script{:src => "assets/landing_page/jquery.isotope.min.js?v=1.5.26", :type => "text/javascript"}
  %script{:src => "assets/landing_page/jquery.singlePageNav.min.js", :type => "text/javascript"}
  %script{:src => "assets/landing_page/main.js", :type => "text/javascript"}

