%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li.nav-header
        .dropdown.profile-element
          %h2
            = link_to "Fist to Five", root_path
          %span
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.clear

                %span.block.m-t-xs
                  %strong.font-bold
                    - if current_user
                      = link_to current_user.first_name.capitalize, edit_user_path(current_user)
                    - else
                      = link_to "Guest", new_session_path
            %ul.dropdown-menu.animated.fadeInRight.m-t-xs
              %li
                %a{:href => "login.html"} Logout
        .logo-element
          IN+
      %li
        %a{:href => "#{subjects_path}"}
          %i.fa.fa-graduation-cap.fa-2x
          %span.nav-label View Subjects
      - if current_user
        %li
          %a{:href => "#{new_subject_path}"}
            %i.fa.fa-university.fa-2x
            %span.nav-label Create Subject
        %li
          %a{:href => "#{user_path(current_user)}"}
            %i.fa.fa-dashboard.fa-2x
            %span.nav-label My Dashboard
        - if current_user.admin?
          %li
            %a{:href => "#{users_path}"}
              %i.fa.fa-user.fa-2x
              %span.nav-label All Users
